body {
    background: url("../img/idea4.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.container, .enable {
    background: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 30px -6px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 30px -6px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 30px -6px rgba(0, 0, 0, 0.8);
    background-color: rgba(240, 240, 240, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    border: solid rgba(190, 190, 190, 0.6) 1px;
}

.logo{
    text-align: center;
}

.blog-header-logo{
    font-size:25px;
}


.btn-outline-secondary{
    background: #2D4F6B;
    margin-right: 5px;
}

.btn-outline-secondary:hover{
    background-color: #2A74FA;
}


.enable{
    width: 95%;
    margin: auto;
    padding: 20px;
}

.header {
    text-align: center;
    background-color: rgba(0, 126, 223, 0.65);
    color: white;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: solid rgba(0, 255, 255, 0.4) 1px;
}

.header {
    color: white;
    padding: 5px;
}

.input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black 2px;
}

label,
h2 {
    font-family: initial;
}

label {
    font-size: 20px;
}

.form-control {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
    .container {
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
    }
    .header {
        background-color: rgb(0, 126, 223);
        border-radius: 0px;
        font-size: 20px;
    }

    .enable{
        width: 100%;
        padding: 10px;
        margin: 0px;
    }

    .blog-header-logo{
        font-size: 23px;
        margin: 0px;
        width: 100%;
    }

    .logo{
        text-align: left;
    }

    .btn-outline-secondary{
        margin-right: 0px;
    }
}